.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  //background: linear-gradient(180deg, #15465d66, #6b5b95);
  background-color: #6B5B95;
  width: 100%;
  max-width: 320px;
  min-height: 540px;
  font-size: 24px;
  color: #fffefe;
  padding: 24px;
  font-family: 'Comfortaa', cursive;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: baseline;

  .tempValue {
    font-family: 'Montserrat', sans-serif;
    font-size: 69px;
    position: relative;

    &:after {
      content: '°';
      font-size: 16px;
      vertical-align: text-top;
      position: absolute;
      top: 10px;
    }
  }

  .tempText {
    font-size: 10px;
    margin: 0 3px 0 12px;
  }

  span {
    font-size: 70px;
  }
}

.city {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 15px;
  margin-bottom: 14px;

  span {
    font-size: 24px;
  }
}

.sun {
  display: flex;
  justify-content: center;

}

.iconAndState {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.pops {
  font-size: 30px;

  &:last-child {
    font-size: 38px;
  }

  &:not(:last-child) {
    &:after {
      content: '|';
      font-size: 24px;
      margin: 0 12px;
    }
  }
}

.icon {
  margin-right: 12px;

}

.optional {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 14px;
  font-family: 'Comfortaa', cursive;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.value {
  display: flex;
  align-items: center;

  svg {
    margin-right: 6px;
  }

  span {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
  }

  &:not(:last-child) {
    &:after {
      content: '|';
      font-size: 24px;
      margin: 0 12px;
    }
  }
}

.hourlyForecast {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 12px 0;
  height: 100%;

  @media (max-width: 850px) {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.imageWeather {
  &:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #96929299;
  }
}
.rain {
  &:before {
    background-image: url(../../assets/images/rain.webp);
  }
}
.mist {
  &:before {
    background-position: center;
    background-image: url(../../assets/images/mist.webp);
  }
}
.clouds {
  &:before {
    background-position: bottom;
    background-image: url(../../assets/images/clouds.webp);
  }
}
.clearDay {
  &:before {
    background-image: url(../../assets/images/clearDay.webp);
  }
}

.clearNight {
  &:before {
    background-image: url(../../assets/images/clearNight.webp);
  }
}







