@import './src/styles/mixins';

.weatherWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color);
  width: 100%;
  max-width: 640px;
  height: 640px;
  padding: 36px;
  margin: 10% auto 0 auto;

  @include mobile {
    margin: unset;
    padding: 0;
    height: 100%;
  }
}

.weatherContent {
  display: flex;
  flex-direction: row;
  gap: 60px;

  @include mobile {
    gap: 20px;
  }
}

.leftSide {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: end;
  width: 25%;
  height: 100%;
  @include bebas(600);

  @include mobile {
    width: 40%;
  }

  .temperature {
    font-size: 120px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    sup {
      font-size: 16px;
      margin: 25px 0 0 -4px;

      @include mobile {
        margin-top: 18px;
      }
    }

    @include mobile {
      font-size: 90px;
    }

  }
}

.rightSide {
  position: relative;
  display: flex;
  flex-direction: column;

  @include mobile {
    width: 50%;
  }

  .rightSideTop {
    display: flex;
    flex-direction: column;
    @include montserrat(700);
    margin: 20px 0 40px 0;

    & > span:first-child {
      font-size: 48px;

      @include mobile {
        font-size: 30px;
      }
    }

    & > span:last-child {
      font-size: 16px;
      margin-top: 21px;

      @include mobile {
        margin-top: 13px;
      }
    }

    @include mobile {
      margin-bottom: 29px;
    }
  }

  .rightSideBottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;

    & > div {
      margin-bottom: 22px;

      @include mobile {
        margin-bottom: 0;
      }
    }

    & > div:nth-child(2n) {
      margin-left: 24px;

      @include mobile {
        margin-left: unset;
      }
    }
  }
}


.hourlyForecast {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 12px 0;
  height: 100%;

  @include mobile {
    padding: 30px 0;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.imageWeather {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
}

.rain {
  &:before {
    background-image: url(../../assets/images/rain.webp);
  }
}

.mist {
  &:before {
    background-position: center;
    background-image: url(../../assets/images/mist.webp);
  }
}

.clouds {
  &:before {
    background-position: bottom;
    background-image: url(../../assets/images/clouds.webp);
  }
}

.clearDay {
  &:before {
    background-image: url(../../assets/images/clearDay.webp);
  }
}

.clearNight {
  &:before {
    background-image: url(../../assets/images/clearNight.webp);
  }
}







