.colorChanger {
  width: 50px;
  position: absolute;
  display: flex;
  top: calc(99% - 30px);
  left: calc(97% - 40px);

  span {
    margin: 5px;
    background-color: transparent;
    cursor: pointer;
  }

  @media (max-width: 810px) {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
}

.palette {
  display: block;
  visibility: hidden;
  width: 160px;
  height: 160px;
  background-color: white;
  position: absolute;
  top: -170px;
  right: 45px;

  .pointer {
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 0 solid transparent;
    border-top: 12px solid white;
    position: absolute;
    top: 159px;
    right: 0;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(7, 22px);
    grid-template-rows: repeat(7, 22px);
    margin: 4px;

    .colorBlock {
      width: 20px;
      height: 20px;
      background-color: gray;
    }
  }
}

.visible {
  visibility: visible !important;
}
