.wrapper {
  height: 300px;
  width: 740px;
  font-size: 18px;
  font-family: 'Sriracha', cursive;
  background-color: white;
  border: 1px #cacaca solid;
  border-radius: 15px;
  box-shadow: -1px 0px 5px lightgrey;
  padding: 24px;

  @media only screen and (max-width: 1150px) {
    //width: calc(100% - 40px);
  }

  @media (max-width: 810px) {
  font-size: 10px;
  }
}

.selectors {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #5f5f5f;
  align-items: baseline;
}

.links {
  display: flex;
}

.refreshButton {
  position: relative;
  right: calc(-94% - 20px);
  cursor: pointer;
}

.newsList {
  list-style-type: none;
  margin: 6px 0 12px -24px;;
}

.copyright {
  font-size: 1px;
  text-align: right;
  color: lightgray;
  transform: scale(0.7);
}

.newsLink {
  text-decoration: none;
  color: #5f5f5f;

  &:visited {
    color: #616060;
  }

  &:hover {
    color: black;
  }

  &:hover:before {
    content: "> ";
  }
}



